

.game-info-container{
	height: 80px;
	background-color: gray;
	display: block;
	margin: 0 0 10px 0;
}

.section {
	width: 25%;
	/*display: inline-block;*/
	text-align: center;
	/*position: relative;*/
	top: 10px;
	color: #DDD;
	float: left;
}

.section div{
	color: white;
	display: inline;
	font-weight: bold;
}
